.page-single-no-thumb{

    &#themesflat-content{
        padding-top: 0px;
    }

    > .container{
        max-width: 100%;
    }

    .tf-main-product{
        .sticky-top{
            top: 40px !important;
        }
    }

    .breadcrumb-list{

        .item-breadcrumb{
            &.trail-end{
                display: none;
            }
        }
    
        .sep.dot:has(+ .trail-end) {
            display: none;
        }
        
    }
}

body:not(:has(.sub-menu:hover, .menu-item:hover, .header-default.header-sticky, .offcanvas.show)) .tf-main-product .main-grid-b
{
    z-index: 9999;
}

.tf-main-product{

    .sticky-top{
        top: 40px !important;
    }

    .product-info-price{
        // display: inline-flex;
        // align-items: center;
        // flex-wrap: wrap;
        // gap: 0px 10px;

        .price-wrap{
            font-size: clamp(18px, 2vw, 24px);
            line-height: clamp(26px, 2.5vw, 32px);
            font-family: "Jost", sans-serif;
            text-rendering: optimizeLegibility;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 0;
            color: var(--bs-heading-color);
            del{
                color: var(--main-7);
                display: inline;
                position: relative;
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
            }
            ins{
                order: -1;
                text-decoration: none;
            }
        }
    }

    .tf-product-info-extra-link{
        a{
            text-transform: uppercase;
        }

        row-gap: 10px;
    }

    .product-info-countdown {
        padding: 20px;
        display: inline-block;
        max-width: max-content;
        border: 1px solid var(--primary);
        border-radius: 8px;
        .countdown-title {
            display: flex;
            align-items: center;
            gap: 4px;
            margin-bottom: 12px;
        }
        .countdown__timer {
            display: flex;
            gap: 12px;
        }
        .countdown__item {
            width: 48px;
            height: 32px;
            font-size: 16px;
            line-height: 24px;
            color: var(--white);
            background-color: var(--primary);
            border-radius: 4px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:not(:last-child) {
                &::after {
                    position: absolute;
                    content: ":";
                    top: 50%;
                    transform: translateY(-50%);
                    right: -8px;
                    color: var(--dark);
                }
            }
        }
    }

    .group-breadcrumb {
        position: absolute;
        right: 0;
        top: 0;
        overflow: hidden;
        .product-navigation{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .group-badges{
        display: flex;
        gap: 10px;
        .on-sale-item {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            padding: 5px 10px;
            border-radius: 5px;
            color: #1D770B;
            background: rgba(44, 163, 21, 0.10196078);
        }
    }

    .tf-product-info-variant{

        --wcboost-swatches-item-width: 36px;
        --wcboost-swatches-item-height: 36px;

        .reset_variations{
            display: none !important;
            visibility: hidden !important;
        }

        .wcboost-variation-swatches__selected-label{
            font-family: "Jost", sans-serif;
            text-rendering: optimizeLegibility;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 28px;
            font-weight: 500;
            letter-spacing: 0;
            margin-bottom: 0;
        }

        .variant-picker-item{
            background: none;

            .wcboost-variation-swatches{

                .wcboost-variation-swatches__wrapper{
                    gap: 10px;
                }

                .wcboost-variation-swatches__item {
                    box-shadow : none;
                    &.selected {
                        box-shadow: 0 0 0 1px var(--black);
                    }
                    .img{
                        border: 1px solid transparent;
                    }
                }
                
                &.wcboost-variation-swatches--has-tooltip {
                    .wcboost-variation-swatches__item{
                        &::before,
                        &::after{
                            display: none;
                            visibility: hidden;
                        }
                    }
                }

                &.wcboost-variation-swatches--button{
                    --wcboost-swatches-item-width: 48px;
                    --wcboost-swatches-item-height: 48px;
                    .wcboost-variation-swatches__item{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            line-height: 28px;
                            color: var(--black);
                            background-color: var(--white);
                            padding: 0;
                            margin: 0;
                            cursor: pointer;
                            transition: 0.3s;
                            &.selected{
                                background-color: var(--black);
                                color: var(--white);
                            }
                    }

                    @media (max-width: 480px) {
                        --wcboost-swatches-item-width: 32px;
                        --wcboost-swatches-item-height: 32px;
                        .wcboost-variation-swatches__wrapper{
                            .wcboost-variation-swatches__item{
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                }

                &.wcboost-variation-swatches--label{
                    .wcboost-variation-swatches__item{
                        padding: 0 10px;
                    }
                }
            }
        }
    }
    
    form{
        &.cart{
            margin-bottom: 0px;
            &.tf-variable-form{
                margin-bottom: 0px;
            }
            .cart.tf-product-total-quantity{
                margin-bottom: 8px;
            }
        }

        &.tf-grouped-form{
            .table-group-product{
                tbody{
                    display: block;
                    overflow: auto;
                }

                tr{
                    background-color: transparent;
                }

                .tf-price {
                    display: inline-flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 0px 10px;
            
                    font-size: 16px;
                    line-height: 24px;
                    font-family: "Jost", sans-serif;
                    text-rendering: optimizeLegibility;
                    font-weight: 500;
                    margin-top: 0;
                    margin-bottom: 0;
                    letter-spacing: 0;
                    color: var(--bs-heading-color);
                    del{
                        color: var(--main-7);
                        display: inline;
                        position: relative;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                    }
                    ins{
                        order: -1;
                        text-decoration: none;
                    }
                }
            }
        }

        .woocommerce-variation-price{
            display: none;
        }
    
        .woocommerce-variation-availability{
            display: none;
        }

        .tf-product-total-quantity{
            margin-top: 30px;
        }
    }

    .tf-buy-now-btn{
        margin-top: 15px;
    }

    .tf-product-total-quantity{
        .group-btn {
            margin-bottom: 0;
            .wcboost-wishlist-button{
                flex-grow: 0;
            }
        }
    }

    .wcboost-wishlist-button{
        cursor: pointer;
        .wcboost-wishlist-button__icon{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .wcboost-wishlist-button__text{
            display: none;
        }

        &:not(.tf-wishlist-btn){
            display: none;
        }
    }

    .tf-btn{
        .spinner{
            width: 30px;
            height: 30px;
        }

        &.btn-fill-2 {
            .spinner{
                border-top-color: #FFFFFF;
            }
        }
    }

    .thumbs-slider{
        flex-direction: column-reverse;
        &.no-thumbs{
            .tf-product-media-thumbs{
                display: none;
                visibility: hidden;
            }
        }
        .swiper{
            height: 100%;   
            // max-height: 744px;
            max-height: 910px;
            .item{
                cursor: pointer;
                aspect-ratio: unset;
                width: 100%;
                height: 100%;
                max-height: 910px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .middle-gallery{
        .item{
            aspect-ratio: 0.69527897 !important;
        }
    }

    .paymend-method-list{
        .card-item {
            width: 45px;
            height: 32px;
            border: 1px solid #d9d9d9;
            border-radius: 2.5px;
            img {
                aspect-ratio: 4 / 3;
                object-fit: cover;
                width: 100%;
                max-width: 100%;
                height: auto;
                max-height: 100%;
            }
        }
    }

    .flat-single-grid{
        .swiper-wrapper{
            display: grid;
            gap: 10px;
        }
    }

    .hidden{
        display: none !important;
        visibility: hidden !important;
    }

    .attribute-size-guide{
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }

    .woocommerce-variation-add-to-cart-disabled{
        .single_add_to_cart_button,
        .tf-buy-now-btn{
            opacity: .5;
            pointer-events: none;
        }
    }

    .tf-variation-items{
        padding: 0;
    }

    .tf-variation-dropdown-wrapper .select-item.disabled,
    .wcboost-variation-swatches__item.disabled {
        opacity: .5;
        pointer-events: none;
    }

    .flat-wrap-media-product{
        a.item{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

    @media (max-width: 767px) {
        .flat-single-grid{
            .swiper-wrapper{
                display: flex;
                overflow-x: auto;
            }
        }
    }

    @media (min-width: 1200px) {
        .thumbs-slider{
            &.thumbs-left {
                flex-direction: row;
                .flat-wrap-media-product {
                    width: calc(67.36% - 15px);
                    .tf-product-media-main {
                        height: 100%;
                        .item {
                            aspect-ratio: unset;
                            display: flex;
                            width: 100%;
                            height: 100%;
                            max-height: 744px;
                            img {
                                aspect-ratio: unset;
                            }
                        }
                    }
                }

                .tf-product-media-thumbs {
                    max-width: 238px;
                    max-height: 744px;
                    width: 32.64%;
                    .item {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &.thumbs-right {
                flex-direction: row-reverse;
            }
        }
    }

}

.admin-bar{
    .tf-main-product{
        .sticky-top{
            top: 72px !important;
        }
    }
}

.admin-bar{
    .page-single-no-thumb{
        .tf-main-product{
            .sticky-top{
                top: 60px !important;
            }
        }
    }
}

.tf-add-to-cart-loading {
.spinner {
    width: 40px;
    height: 40px;
}
}

.product-info-rate{
    .icon-star{
        position: relative;
        color: #9e9e9e;

        &.full,
        &.partial{
            color: #ef9122;
        }

        &.partial{
            overflow: hidden;
            position: absolute;
            width: 0;
            top: 0;
            left: 0;
        }

        &.empty {
            color: #9e9e9e;
        }
    }
}

.card-product{
    .wcboost-products-compare-button {
        margin: 0;
    }

    .added_to_cart{
        display: none;
    }

    .count-down{
        z-index: 1;
    }
}

.woocommerce-Reviews{

    .accordion-body{
        max-width: 100%;
        overflow: hidden;

        .clear{
            display: none;
            visibility: hidden;
        }
    }

    .bypostauthor {
        border: none;
        background: transparent;
        padding: 0;
    }

    .icon-star{
        color: #9e9e9e;
        &.full{
            color: #ef9122;
        }
    }

    .comments-area{
        margin: 0 !important;
        padding: 0 !important;
    }

    .star{
        &.active{
            .icon-star{
                color: #ef9122;
            }
        }
    }

    p.stars{
        display: none;
    }

    .form-review{
        gap: 10px;

        .checkbox-wrap{
            margin: 0;
        }

        .comment-form-cookies-consent{
            display: flex;
            order: 3;
            input{
                width: 24px;
                height: 24px;
                min-width: 24px;
                padding: 0;
                border: 1px solid var(--line-8);
                position: relative;
                background: transparent;
                cursor: pointer;
                outline: 0;
                    -moz-appearance: none;
    -webkit-appearance: none; 
    appearance: none; 
                display: inline-flex;
                justify-content: center;
                align-items: center;
                &:before {
                    font-weight: 500;
                    font-family: "vemus";
                    content: "\e944";
                    position: absolute;
                    color: var(--white);
                    opacity: 0;
                    font-size: 10px;
                    transform: scale(0);
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

                &:checked {
                    border-color: var(--primary);
                    background-color: var(--primary);
                    &::before {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
            label{
                cursor: pointer;
                font-size: 18px;
                line-height: 28px;
                font-family: "Jost", sans-serif;
                text-rendering: optimizeLegibility;
                font-weight: 400;
                margin-bottom: 0;
                letter-spacing: 0;
            }
        }

        .form-submit{
            .tf-btn{
                background-color: var(--primary);
                backdrop-filter: blur(4px);
                color: var(--white);
                border-color: var(--primary);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-size: 16px;
                line-height: 24px;
                padding: 13px 40px;
            }
            margin-top: 20px;
            @media (min-width: 1200px) {
                margin-top: 40px;
            }
        }
    }
}

.tab-vertical-product-desc {
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: 30px;
    .menu-tab {
        border-left: 1px solid var(--line);
        height: max-content;
    }
    .tab-link {
        padding: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: block;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            background-color: var(--dark);
            // @include abs.transition3;
            top: 0;
            left: -1px;
            width: 1px;
            height: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &.active {
            &::after {
                height: 100%;
            }
        }
    }
    .tab-content {
        border-radius: 16px;
        border: 1px solid var(--line);
    }
    .wd-product-descriptions {
        padding: 30px 64px;
    }
}

.tab-product-desc {
    .menu-tab {
        border-bottom: 1px solid var(--line);
        display: flex;
        align-items: center;
        overflow: auto;
    }
    .tab-link {
        padding: 10px 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: block;
        position: relative;
        text-align: center;
        white-space: nowrap;
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            height: 1px;
            width: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--dark);
            // @include abs.transition3;
        }
        &.active {
            &::after {
                width: 100%;
            }
        }
    }
    .tab-content {
        margin-top: 30px;
    }
}

.modal-find-size{
     .canvas-body{
        max-height: 100%;
     }
}

.canvas-reviews,
.tf-product-accordion{
    .accordion-body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;

        .wd-rating-review{
            padding: 0;
            margin: 0;
        }
        
        .review-post-list{
            .title{
                margin-bottom: 15px;
            }
        }
    }
}

.tf-product-fbt{
    .price-wrap{

        .tf-price {
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0px 10px;
        }

        font-size: clamp(18px, 3vw, 20px);
        line-height: clamp(28px, 3.5vw, 30px);
        font-family: "Jost", sans-serif;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 0;
        color: var(--bs-heading-color);
        del{
            color: var(--main-7);
            display: inline;
            position: relative;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }
        ins{
            order: -1;
            text-decoration: none;
        }
    }
}

.tf-buyx-gety-wrapper{
    .tf-price {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px 10px;

        font-size: 16px;
        line-height: 24px;
        font-family: "Jost", sans-serif;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 0;
        color: var(--bs-heading-color);
        del{
            color: var(--main-7);
            display: inline;
            position: relative;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
        }
        ins{
            order: -1;
            text-decoration: none;
        }
    }
}

.tf-product-pickup-store{
    .store-pickup-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.tf-rating{
    display: inline-flex;
    gap: 5px;
    .icon-star{
        position: relative;
        color: #9e9e9e;

        &.full,
        &.partial{
            color: #ef9122;
        }

        &.partial{
            overflow: hidden;
            position: absolute;
            width: 0;
            top: 0;
            left: 0;
        }

        &.empty {
            color: #9e9e9e;
        }
    }
}

.tf-add-to-cart-loading,
.tf-overlay-container{
    .spinner{
        animation: spin 0.5s infinite linear;
    }
}

.page-cart-empty-wrap{
    padding-bottom: 100px;
}

.form-ask{
    .tf-field {
        position: relative;
    }
      
    .tf-lable {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 0.2s ease;
        font-size: 16px;
        pointer-events: none;
    }
      
    .wpcf7-form-control-wrap:has(.tf-input:focus) + .tf-lable,
    .wpcf7-form-control-wrap:has(.tf-input:not(:placeholder-shown)) + .tf-lable {
        top: 0;
        transform: translateY(0%);
        font-size: 12px;
    }
    
    .tf-btn {
        padding: 13px 40px;
        @media (max-width: 1199px) {
            padding: 10px 20px;
            font-size: 14px;
        }
    }


}

.tf-product-media-wrap{
    .slide-3d{
        height: autu;
        max-height: 100%;
        .item{
            height: auto;
            max-height: 100%;
            aspect-ratio: 1;
        }
    }
}

.popup-shopping-cart{

    .widget_shopping_cart_content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;

        .cart-empty-wrap{
            text-align: center;
            padding: 27px 15px;
            svg {
                margin-bottom: 32px;
            }
            p{
                margin-bottom: 24px;
            }
        }
    }

    .shipping-calculator-form{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);
        transition: transform 0.25s ease-in-out;
        z-index: 70;
        &.open{
            transform: translateY(0);
        }
        button{
            display: none;
        }

        .form-row{
            display: flex;
            flex-direction: column;
            label{
                color: #252525;
            }
            input, select{
                margin-top: 10px;
                margin-bottom: 14px;

                border-radius: 0;
                width: 100%;
                padding: 16px 10px;
                border: 1px solid var(--line);
    -moz-appearance: none;
    -webkit-appearance: none; 
    appearance: none; 
                background-color: transparent;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
                font-size: 16px;
                line-height: 24px;
                outline: unset;
                &:hover{
                    border-color: var(--primary);
                }
            }
        }
    }

    .tf-mini-cart-main{
        .tf-mini-cart-item{
            // position: relative;
            &.loading-content {
                min-height: auto;
                overflow: hidden;
                position: relative;
                &::before {
                    border: 2px solid #fff;
                    border-top: 2px solid #000;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin-left: -10px;
                    top: 40px;
                    
                    content: "" !important;
                    display: inline-flex;
                    animation: loadding 0.5s linear infinite;
                    z-index: 25;
                    position: absolute;
                    left: 50%;
                }
                &::after {
                    opacity: 0.7;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    z-index: 20;
                }

                @-webkit-keyframes loadding {
                    100%{-webkit-transform:rotate(360deg);
                    transform:rotate(360deg)}
                }
                @keyframes loadding {
                    100%{-webkit-transform:rotate(360deg);
                    transform:rotate(360deg)}
                }
            }
    
            .tf-mini-cart-info{
                .variation {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    color: var(--main-4) !important;
                    dt{
                        display: none;
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
    
            .tf-mini-card-price {
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;
                flex-wrap: wrap;
                gap: 0px 10px;
        
                font-size: 18px;
                line-height: 28px;
                font-family: "Jost", sans-serif;
                text-rendering: optimizeLegibility;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 0;
                letter-spacing: 0;
                color: var(--bs-heading-color);
                span{
                    font-size: 18px;
                    line-height: 28px;
                    font-family: "Jost", sans-serif;
                    text-rendering: optimizeLegibility;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 0;
                    letter-spacing: 0;
                    color: var(--bs-heading-color);
                }
                del{
                    color: var(--main-7);
                    display: inline;
                    position: relative;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
    
                    span{
                        color: var(--main-7);
                        display: inline;
                        position: relative;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                    }
                }
                ins{
                    order: -1;
                    text-decoration: none;
                }
            }
    
        }
    }

    .tf-minicart-recommendations{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 24px;
    }
}

.tf-bundle-note {
    font-size: 14px;
    color: #555;
    white-space: nowrap;
    &.bundle-free-item {
        color: #008000;
    }
    &.bundle-discount-item {
        color: #0071a1;
    }
}

.row-cart{
    display: flex;
    flex-wrap: wrap;
    // gap: 24px;
    justify-content: center;

    .tf-cart-left{
        // max-width: calc( 66.66666667% - 12px );
    }

    .tf-cart-right{
        max-width: 100%;
        @media (min-width: 1200px){
            max-width: calc( 33.33333333% - 24px );
            padding-left: 24px;
        }
    }

    .checkout-sidebar{

        tr{
            background: transparent;
        }

        .cart-subtotal,
        .cart-discount,
        .order-total{
            td {
                text-align: end;
            }
            text-transform: uppercase;
        }
        .title-total{
            text-transform: uppercase;
        }
        td, th{
            padding-left: 0;
            padding-right: 0;
        }

        .checkout-cart-box{
            display: flex;
            flex-direction: column;
            gap: 20px;

            th{
                text-transform: uppercase;
            }
        }

        .woocommerce-shipping-totals{
            background-color: transparent;

            .woocommerce-shipping-methods{
                padding-left: 10px;
            }

            .woocommerce-shipping-destination{
                margin-top: 5px;
            }

            label{
                font-weight: 500;
            }

            td,th{
                display: block;
                padding: 0;
            }

            li{
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }

        .order-total{
            background-color: transparent;
        }

        .shipping-calculator-form {
            text-align: left;
                .select2-container .select2-selection--single .select2-selection__rendered {
                    padding-left: 14px;
                }
            .form-row {
                margin-bottom: 20px;
                label {
                    margin-bottom: 8px;
                }
                .select2-container--default .select2-selection--single {
                    border: 1px solid var(--line);
                    color: rgba(0, 0, 0, 0.8);
                    height: 50px;
                    border-radius: 0;
                    .select2-selection__rendered {
                        color: rgba(0, 0, 0, 0.8);
                        line-height: 50px;
                    }
                    .select2-selection__arrow {
                        height: 50px;
                    }
                }   
            }
            
            button[type=submit] {

                transition: all 0.3s ease-in-out;
                background-color: var(--dark);
                border: 1px solid var(--dark);
                color: var(--white);
                padding: 13px 32px;
                border-radius: 99px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                text-transform: capitalize;

                width: 100%;
                background-color: var(--main);
                color: var(--white);
                border: 1px solid var(--main);
                line-height: 24px;
            }
            button[type=submit] {
                position: relative;
                overflow: hidden;
                &:hover {
                    &::after {
                        animation: shine-reverse 1s forwards;
                    }
                }
            }
            button[type=submit]:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(
                    120deg,
                    rgba(255, 255, 255, 0) 30%,
                    rgba(255, 255, 255, 0.8),
                    rgba(255, 255, 255, 0) 70%
                );
                top: 0;
                left: -100%;
                opacity: 0.6;
            }
            
            button[type=submit]::after {
                background-image: linear-gradient(120deg, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0) 70%);
            }
            @keyframes shine-forward {
                0% {
                    left: -100%;
                }
                100% {
                    left: 100%;
                }
            }
            
            @keyframes shine-reverse {
                0% {
                    left: 100%;
                }
                100% {
                    left: -100%;
                }
            }
            
        }

        .paymend-method-list{
            .payment-card{
                width: 45px;
                height: 32px;
                border: 1px solid #D9D9D9;
                border-radius: 2.5px;
            }
        }
    }

    .tes-slider{
        .icon-star{
            &.full{
                color: #ef9122;
            }
        }
    }
}

.tf-page-cart-main{

    .woocommerce-cart-form__contents{
        overflow-x: auto;
    }
    .table-shop-cart{
    
        .variation {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            dt{
                display: none;
                visibility: hidden;
                opacity: 0;
            }
        }
    
        .tf-price{
            del{
                color: var(--main-7);
                span{
                    color: var(--main-7);
                }
            }
    
            ins{
                order: -1;
                text-decoration: none;
            }
        }
    
        &.table-order-detail{
            max-width: 100%;
            overflow-x: auto;
            table-layout: auto;
            @media (min-width: 1200px) {
                th:nth-child(4), td:nth-child(4) {
                   min-width: 220px;
               }
           }
        }
    }

    .tf-bundle-note {
        margin-bottom: 5px;
    }

    .box-ip-discount {
        width: 443px;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 6px;

        input {
            padding-left: 12px;
            padding-right: 12px;
            width: calc(100% - 150px);
        }
    }

    button[type="submit"]{
        float: right;
    }

    .extra-fields{
        .checkbox-wrap{
            margin-bottom: 32px;
        }
        textarea {
            padding: 11px 12px;
            border: 1px solid var(--line-8);
            &:focus {
                border-color: var(--primary);
            }
        }
    }

}

.tf-page-cart-sidebar{
    .variation {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        dt{
            display: none;
            visibility: hidden;
            opacity: 0;
        }
    }
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {

    .tf-field-2{
        margin-bottom: 15px;
    }

    .tf-field-2:first-child {
        float: left;
        width: 50%;
        padding-right: 8px;
    }
    .tf-field-2:nth-child(2) {
        width: 50%;
        padding-left: 8px;        
        .tf-field-label {
            left: 20px;
        }
        .tf-input:not(:placeholder-shown) ~ .tf-field-label, 
        .tf-input:focus ~ .tf-field-label {
            left: 20px;
        }
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid var(--line);
        color: rgba(0, 0, 0, 0.8);
        height: 50px;
        border-radius: 0;
        .select2-selection__rendered {
            color: rgba(0, 0, 0, 0.8);
            line-height: 50px;
        }
        .select2-selection__arrow {
            height: 50px;
        }
    }

    .form-row:not(:last-child){
        margin-bottom: 15px;
    }
}

.tf-checkout-cart-main{
    .woocommerce-shipping-fields{
        .woocommerce-form__label{
            span{
                font-weight: 400;
                font-size: 24px;
            }
        }
    }
}

.woocommerce-checkout-review-order{
    .woocommerce-shipping-methods{
        padding-left: 10px;
        li{
            label{
                display: flex;
                justify-content: space-between;
                width: 100%;
                text-transform: capitalize;
            }
        }
    }

    .wc_payment_methods li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // gap: 8px;
        padding: 16px;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid var(--line);
        margin-bottom: 16px;
        .payment_box {
            width: 100%;
            padding-top: 8px;
        }
    
       label {
            margin-left: 8px;
       }
        .input-radio {
            position: relative;
            cursor: pointer;
            height: 10px;
            width: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
                -moz-appearance: none;
    -webkit-appearance: none; 
    appearance: none; 
            border-width: 1px;
            border-style: solid;
            border-color: rgb(154, 154, 154);
            border-image: initial;
            border-radius: 50%;
            background: none;
            outline: 0px;
            padding: 0;
            &:checked::before {
                opacity: 1;
            }
            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: var(--primary);
                opacity: 0;
                border-radius: 50%;
            }
        }
        .input-radio:checked {
            border-color: var(--primary);
        }
    }
    
    #place_order{

        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        // font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding: 13px 40px;
        border: 1px solid var(--main);
        position: relative;
        background-color: transparent;
        text-transform: uppercase;
        overflow: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        background-color: var(--main);
        border-color: var(--main);
        color: var(--white);
        font-weight: 500;
        width: 100%;
        margin-top: 32px;
    }
}

.check-ship{
    margin-top: 5px;
    label{
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-transform: capitalize;
    }
}

.check-ship:has(.shipping_method:checked) {
    border-color: var(--primary);
}

.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup,
.woocommerce-form-coupon-toggle{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;

    .woocommerce-error,
    .woocommerce-message,
    .woocommerce-info {

        background-color: rgba(0, 138, 0, 0.3);
        color: #008a00;

        clear: both;
        font-weight: 500;
        font-size: 16px;
        border-radius: 5px;
        padding: 13px 20px;
        list-style: none;
        outline: none;
    }

    .woocommerce-error{
        background-color: rgba(255, 72, 72, 0.1);
        color: #ff4848;
    }

    .woocommerce-info{
        background-color: #ecf6ff;
        color: #1f1f1f;
    }
}

.checkout_coupon{
    .coupon-wrap{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;

        .coupon-error-notice{
            display: block;
            margin-top: 5px;
        }
    }
}

.woocommerce-order-details{
    .wc-item-meta{
        display: flex;
        gap: 5px;
        > li:not(:first-child) {
            p:before {
                content: "/ ";
            }
        }
    }

    .wc-item-meta-label{
        display: none;
    }
}

.wc-empty-cart-message{
    display: none;
}

.wcboost-wishlist{
    .remove{
        .wcboost-wishlist-button{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.page-cart-empty-wrap{
    text-align: center;
    p{
        margin-top: 32px;
        margin-bottom: 24px;
    }
}

.modal-quick-view{
    .tf-price {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px 10px;

        font-size: 24px;
        line-height: 32px;
        font-family: "Jost", sans-serif;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 0;
        color: var(--bs-heading-color);

        del{
            color: var(--main-7);
            display: inline;
            position: relative;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            span{
                color: var(--main-7);
                display: inline;
                position: relative;
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
            }
        }

        ins{
            order: -1;
            text-decoration: none;
        }

        span{
            font-size: 24px;
            line-height: 32px;
            font-family: "Jost", sans-serif;
            text-rendering: optimizeLegibility;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 0;
            color: var(--bs-heading-color);
        }

        .badges-on-sale {
            span{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .woocommerce-variation-price{
        // display: inline-flex;
        display: none;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px 10px;

        > .price{
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0px 10px;
        }

        font-size: 18px;
        line-height: 28px;
        font-family: "Jost", sans-serif;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 0;
        color: var(--bs-heading-color);

        del{
            color: var(--main-7);
            display: inline;
            position: relative;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            span{
                color: var(--main-7);
                display: inline;
                position: relative;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
        }
        ins{
            order: -1;
            text-decoration: none;
        }

        span{
            font-size: 18px;
            line-height: 28px;
            font-family: "Jost", sans-serif;
            text-rendering: optimizeLegibility;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 0;
            color: var(--bs-heading-color);
        }
    }

    .tf-variation-items{
        padding: 0;
    }

    .tf-main-product form.cart .tf-product-total-quantity{
        margin-bottom: 32px;    
    }

    .tf-main-product .cart.tf-product-total-quantity{
        margin-bottom: 32px;
    }

    .item{
        position: relative;
        &:not(:has(img.lazyloaded)) {
            &:before {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                width: 30px;
                height: 30px;
                border: 2px solid transparent;
                border-top: 2px solid var(--black);
                border-right: 2px solid var(--black);
                border-radius: 50%;
                animation: spin 0.5s linear infinite;
                transform: translate(-50%, -50%);
                z-index: 10000;
            }

            &:after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #FFFFFF;
                z-index: 9999;
            }
        }
    }

    .wcboost-products-compare-button,
    .wcboost-wishlist-button{

        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border: 1px solid var(--line);
        color: var(--main);
        padding: 0;
        margin: 0;

        .wcboost-products-compare-button__icon{
            margin: 0;
            padding: 0;
        }

        .wcboost-products-compare-button__text{
            display: none;
            visibility: hidden;
        }

        @media (max-width: 1199px){
            width: 46px;
            height: 46px;
        }
    }

    .tf-product-info-inner{
        @media (min-width: 768px){
            position: absolute;
            inset: 0;
            overflow-y: auto;
        }

        .tf-product-info-heading{
            display: grid;
        }
    }

    @media (max-width: 767px){
        .tf-product-media-wrap{
            height: auto !important;
            .tf-single-slide{
                height: auto !important;
            }
        }
    }
}

.modal-quick-add{

    .tf-price {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px 10px;

        font-size: 20px;
        line-height: 30px;
        font-family: "Jost", sans-serif;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 0;
        color: var(--bs-heading-color);

        del{
            order: -2;
            color: var(--main-7);
            display: inline;
            position: relative;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            span{
                color: var(--main-7);
                display: inline;
                position: relative;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
            }
        }

        ins{
            order: -1;
            text-decoration: none;
        }

        span{
            font-size: 20px;
            line-height: 30px;
            font-family: "Jost", sans-serif;
            text-rendering: optimizeLegibility;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 0;
            color: var(--bs-heading-color);
        }

        .badges-on-sale {
            span{
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .quantity{
        label{
            display: none !important;
            visibility: hidden;
        }
    }

    .tf-variation-items{
        padding: 0;
    }

    .wcboost-products-compare-button,
    .wcboost-wishlist-button{

        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border: 1px solid var(--line);
        color: var(--main);
        padding: 0;
        margin: 0;

        .wcboost-products-compare-button__icon{
            margin: 0;
            padding: 0;
        }

        .wcboost-products-compare-button__text{
            display: none;
            visibility: hidden;
        }

        @media (max-width: 1199px){
            width: 46px;
            height: 46px;
        }
    }
}

.modal{
    &.modal-quick-view{
        z-index: 10000;
    }

    &.tf-quick-add-modal{
        z-index: 10010;
    }

    &.modal-compare{
        z-index: 10020;
    }

    &.show {
        background: var(--backdrop);
    }
}

.modal-backdrop {
    &.show{
        display: none;
    }
}

.offcanvas{
    z-index: 100030;

    &:not(.canvas-filter){
        .overlay-close {
            position: fixed;
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: transparent;
            z-index: -1;
        }
    }
}

.jq-toast-wrap{
    z-index: 100040 !important;
}

.live-sales-container{
    display: none;
    visibility: hidden  ;
}

.card-product{
    .card_product-wrapper{
        .badge-item{
            text-transform: uppercase;
        }
    }

    .color-swatch{
        &::before{
            display: none;
        }
    }

    .size-box{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

.tf-table-compare{
    .added_to_cart{
        display: none;
    }
    .tf-price {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px 10px;

        font-size: 16px;
        line-height: 24px;
        font-family: "Jost", sans-serif;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 0;
        color: #1F1F1F;

        span{
            font-size: 16px;
            line-height: 24px;
            font-family: "Jost", sans-serif;
            text-rendering: optimizeLegibility;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 0;
            color: #1F1F1F;
        }

        del{
            color: #1C1C1C99;
            display: inline;
            position: relative;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            span{
                color: #1C1C1C99;
                display: inline;
                position: relative;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
            }
        }

        ins{
            order: -1;
            text-decoration: none;
            color: #1F1F1F;
            span{
                color: #1F1F1F;
            }
        }
    }
}

.wcboost-wishlist{
    .card-product{
        position: relative;
    }
}

.tf-sticky-btn-atc{
    left : 0;
    @media (max-width: 1199px) {
        bottom: 0;
        &.show{
            bottom: 68px;
        }
    }
}

@media (max-width: 1199px) {
    .tab-vertical-product-desc {
        display: block;
        .menu-tab {
            display: flex;
            overflow: auto;
            gap: 20px;
            border-left: 0;
            border-bottom: 1px solid var(--line);
        }
        .tab-link {
            white-space: nowrap;
            padding: 12px 0px;
            &::after {
                top: auto;
                bottom: 0;
                height: 1px;
                width: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &.active {
                &::after {
                    width: 100%;
                    height: 1px;
                }
            }
        }
        .tab-content {
            margin-top: 20px;
        }
        .wd-product-descriptions {
            padding: 30px;
        }
    }
}

@media (max-width: 767px) {
    .tab-vertical-product-desc {
        .wd-product-descriptions {
            padding: 15px;
        }
    }
}